<h1>INSTRUCTOR VERSION: SI 305 Discussion 3: Data Manipulation & Analysis in Pandas</h1>
</br>
<em>Note: These exercises are not graded, and are solely meant to help you complete your project</em>

<b>Learning Objectives:</b>
<ul>
    <li>Read in data from a csv file in Pandas</li>
    <li>Use boolean filters on a dataframes</li>
    <li>Aggregate columns</li>
    <li>Add new columns to a dataframe</li>
</ul>

In [1]:
import pandas as pd

This week, we'll be using the <a href = "https://drive.google.com/file/d/1Pt0rC8VsbFEvzDK_AJuVyW1EGFegM8_6/view">Barton Pond monitoring data</a> from the City of Ann Arbor. We have done some light data cleaning for you, so we'll be using a modified version of the dataset.

You can read more about what the columns represent <a href = "https://docs.google.com/document/d/1Gr55t_9o1twEV8zBRMnzdfB-E42gmWOgC0f34J3z8bA/edit">here</a>

In [2]:
df = pd.read_csv("barton_pond_monitoring_clean.csv")

In [3]:
df.shape

(1136, 21)

In [4]:
df.head()

,Sample ID,Location description,Collection Date/Time,!OBS_BARTON_PND,AMMONIA,COND_FIELD,DO_FIELD,DPTH_MSRMNT_TKN,ECOLI_MPN,ENTERO_MPN,...,NITRITE PH,PH_FIELD,PHOS_META,PHOS_ORTHO,PHOS_TOTAL,SECCI_DEPTH,TEMP_C_FIELD,TOTAL_COLI_MPN,TSS,UV254
0,AA18446,site 2,9/24/2013 11:58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AB41464,site 1,8/26/2014 9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AB75719,site 1,6/9/2015 9:49,"Sunny, 70 F. Lots of aquatic weeds",0.118,788.0,7.23,NaN,31.8,26.9,...,11.17891,8.05,NaN,NaN,0.0286,5.50,21.0,2419.6,3.8,NaN
3,AB88442,site 1,7/28/2015 9:08,85 F and sunny. Pond water very stagnant.,0.125,698.0,10.09,NaN,4.1,3.1,...,5.49552,8.44,NaN,NaN,0.0565,7.00,27.3,1203.1,8.8,NaN
4,AB88443,site 2,7/28/2015 9:20,85 F and sunny. Pond water very stagnant.,0.100,701.0,9.72,NaN,6.3,1.0,...,5.49552,8.39,NaN,NaN,0.0458,5.66,27.3,1119.9,2.8,NaN

Pandas automatically reads in the 'Collection Date/Time' column as a string. This commonly happens when we read in data from a csv file.

We want to convert this column to a datetime â€”Â this allows us to use functions that make working with this column much easier. We won't cover datetime functions much today, but you can learn more about converting columns to dates <a href = "https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html">here</a> and date/time series functionalities <a href = "https://pandas.pydata.org/docs/user_guide/timeseries.html">here.</a>

In [5]:
df['Collection Date/Time'] = pd.to_datetime(df['Collection Date/Time'])

<h3>Live Code Example</h3>
What is the average amount of dissolved oxygen in sample taken at each site?

In [6]:
df.groupby('Location description')['DO_FIELD'].mean()

Location description
site 1    7.217166
site 2    9.255973
site 3    7.285217
Name: DO_FIELD, dtype: float64

<h3>Question 1</h3>
Create a new dataframe that only includes observations from site 1 and 3. Assign this dataframe to a variable called 'site_1_and_3'

<em>Hint: see <a href = "https://note.nkmk.me/en/python-pandas-multiple-conditions/">this tutorial</a></em>

In [7]:
site_1_and_3 = df[(df['Location description'] == 'site 1') | (df['Location description'] == 'site 3')]

<h4>Alternative Solution:</h4>

In [8]:
site_1_and_3 = df[df['Location description'] != 'site 2']

<h3>Question 2</h3>
Measuring pH provides information about the hydrogen ion concentration in the water. pH is measured on a logarithmic scale that ranges from 0-14, so river water with a pH value of 6 is 10 times more acidic than water with a pH value of 7.

What is the highest pH level ever recorded at sites 1 and 3? What is the lowest? Use the dataframe you created in question 1.

In [9]:
max_ph = site_1_and_3.groupby('Location description')['PH_FIELD'].max()
min_ph = site_1_and_3.groupby('Location description')['PH_FIELD'].min()

In [10]:
max_ph

Location description
site 1    27.64
site 3     8.48
Name: PH_FIELD, dtype: float64

In [11]:
min_ph

Location description
site 1    7.08
site 3    7.40
Name: PH_FIELD, dtype: float64

<h3>Question 3</h3>
The optimal pH level for river water is ~7.4. Add a new column to the dataframe you created in question 1 called 'above_optimal_ph.' This column should be a boolean value (i.e. True or False) for if the pH is greater than 7.4. Don't worry about rows where pH values are missing.

Learn more about river pH <a href = "https://www.grc.nasa.gov/www/k-12/fenlewis/Waterquality.html">here</a>

<em>Hint: see <a href = "https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html#how-to-create-new-columns-derived-from-existing-columns">this tutorial</a> on creating new columns</em>

In [12]:
site_1_and_3['above_optimal_ph'] = site_1_and_3['PH_FIELD'] > 7.4

/var/folders/49/3f_15lzd6b57lnzlk4m_9k440000gn/T/ipykernel_92297/1201669278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  site_1_and_3['above_optimal_ph'] = site_1_and_3['PH_FIELD'] > 7.4

In [13]:
site_1_and_3[['PH_FIELD', 'above_optimal_ph']]

      PH_FIELD  above_optimal_ph
1          NaN             False
2         8.05              True
3         8.44              True
5         8.04              True
6         8.06              True
...        ...               ...
1131      8.68              True
1132      8.70              True
1133      8.68              True
1134      8.65              True
1135      8.66              True

[683 rows x 2 columns]

<h2>Challenge Questions</h2>
If you're already familiar with basic pandas functionalities, or just want to learn more advanced techniques, you can attempt the following questions. Again, these are just meant to help you improve your data analysis skills and are not graded.

<h3>Question 5</h3>
Earlier in discussion, we introduced datetime functions. Use a pandas datetime function to filter the data to just include observations from September 2022. Then, calculate the median value of the column COND_FIELD, which measure of the ability of water to pass an electrical current, and is a general metric for water quality.

<em>Hint: see <a href = "https://stackoverflow.com/questions/25873772/how-to-filter-a-dataframe-of-dates-by-a-particular-month-day">this stackoverflow post</a></em>

In [14]:
sept_2022 = df[(df['Collection Date/Time'].dt.month == 9) & (df['Collection Date/Time'].dt.year == 2022)]

sept_2022['COND_FIELD'].median()

775.0

<h3>Question 6</h3>
You may have noticed that lots of columns in this dataset have missing values. We won't cover strategies for handling or investigation missing data today, but its often helpful to know how much is actually missing from your dataset.

The column ECOLI_MPN estimate the number of e. coli organisms per 100mL of sample water. How many missing values are in this column? 

<em>Hint: see <a href = "https://stackoverflow.com/questions/26266362/how-do-i-count-the-nan-values-in-a-column-in-pandas-dataframe">this stackoverflow post</a></em>
    
More on working with missing data <a href = "https://pandas.pydata.org/docs/user_guide/missing_data.html">here</a>

In [15]:
df['ECOLI_MPN'].isna().sum()

1100

Think back to lecture 4 last Thursday about data and its challenges. How could missing data effect your analysis? Write a few short sentences below: